.body-section
{
    display: flex;
    align-items: center;

    flex-direction: column;

    font-family: 'Poppins', sans-serif;

}

.navigation-bar-section
{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row;

    max-width: 1000px;
    width: 100%;

}

.navigation-bar-text-section
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width:65%;


}

.hero-section
{
    display: flex;
    justify-content: center;
    flex-direction: row;
    max-width: 800px;
    width: 100%;
}

.hi-text
{
    width:50%;

}

.about-text-section
{
    width:50%;


    margin-top: 50px;
}

.selected-work-section
{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;

    max-width: 800px;
    width: 100%;
}

.box-container
{
    width: 388px;
    height: 375px;

    margin-top: 20px;
    margin-right: 20px;
    margin-left: 20px;

    background-color: white;
    border-color: black;
    border-style: solid;

    display: flex;
    justify-content: center;
    align-items: center;
}

.box-image
{
    border-radius: 50px;
}

.work-section
{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;

    max-width: 1000px;
    width: 100%;  
}

.img-1
{
    width: 800px;
    position: absolute;
    margin-top: -500px;
    margin-left: 200px;

    z-index: -1;
}

.img-2
{
    width: 300px;
    position: absolute;
    margin-top: -1500px;
    margin-left: -800px;

    z-index: -1;
}

.nav-text
{
    font-size: 20px;
    font-weight: bolder;
}

.hello-text
{
    font-size: 30px;
}

.about-text
{
    font-size: 16px;
    color:grey;
}

.work-text
{
    font-size: 18px;
}

.project-label-text
{
    font-size: 30px;
}

.intro-text
{
    width:65%;
}

.year-text-container
{
    font-size: 30px;
    border-style: solid;
    width: 400px;
    padding-left: 20px;
    border-color: green;
}

.quote-style
{
    font-size: 40px;
    font-weight: 800;
    color: green;
}
.description-text-section
{
    width: 75%;
    margin-top: 10px;

    padding: 30px;

    color: grey;
    font-size: 14px;

    
}

.name-subtext
{
    color: grey;
    font-size: 12px;    
}

.sub-description-header
{
    font-size: 20px;
    font-weight: 800;
    color: black;
}

.banner-image
{
    width:100%;

    padding-bottom: 50px;
}

.gallery {
display: grid;
grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
grid-gap: 10px;
padding: 10px;
}
.gallery img {
width: 100%;
height: auto;
object-fit: cover; /* This ensures images cover the area without losing their aspect ratio */
}

a {
    color: inherit; /* blue colors for links too */
    text-decoration: inherit; /* no underline */
  }


.circle-small {
height: 50px;
width: 50px;
background-color: #fff;
border-color: black;
border-style: solid;
border-radius: 50%;
}

.circle-medium{
height: 100px;
width: 100px;
background-color: #fff;
border-color: black;
border-style: solid;
border-radius: 50%;
}
.circle-large {
height: 150px;
width: 150px;
background-color: #fff;
border-color: black;
border-style: solid;
border-radius: 50%;
}

#c1
{
    position: absolute;
    margin-top: 40px;
    margin-left: 80px;
    z-index: -1;
}
#c2
{
    position: absolute;
    margin-top: 40px;
    margin-left: 1200px;
    z-index: -1;
}
#c3
{
    position: absolute;
    margin-top: 150px;
    margin-left: 1000px;
    z-index: -1;
}

#c4
{
    position: absolute;
    margin-top: 400px;
    margin-left: -1000px;
    z-index: -1;
}
#c5
{
    position: absolute;
    margin-top: 500px;
    margin-left: 1200px;
    z-index: -1;
}
#c6
{
    position: absolute;
    margin-top: 700px;
    margin-left: -1500px;
    z-index: -1;
}
#c7
{
    position: absolute;
    margin-top: 1300px;
    margin-left: -1000px;
    z-index: -1;
}

#c8
{
    position: absolute;
    margin-top: 1000px;
    margin-left: -1200px;
    z-index: -1;
}

#c9
{
    position: absolute;
    margin-top: 900px;
    margin-left: 1500px;
    z-index: -1;
}
@media only screen and (max-width: 1000px)
{

    .navigation-bar-section
    {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;

        max-width: 1000px;
        width: 100%;
    }

    .hero-section
    {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
        max-width: 800px;
        width: 100%;

    }
    .box-container
    {
        max-width: 200px;
        max-height: 200px;


        margin-top: 20px;

    
        background-color: white;
        border-color: black;
        border-style: solid;
    
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;


    }
    .year-text-container
    {
        font-size: 30px;
        border-style: solid;
        width: 250px;
        border-color: green;
    }

    .img-1
    {
        display: none;
    }

    .img-2
    {
        width: 300px;
        position: absolute;
        margin-top: -1600px;
        margin-left: -350px;
    
        z-index: -1;
    }

    .work-section
    {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;

        width: 800px;
        padding-left: 20px;
        padding-right: 20px;
    }

    .selected-work-section
    {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;

    }






    #c1
    {
        position: absolute;
        margin-top: 60px;
        margin-left: 250px;
        z-index: -1;
    }
    #c2
    {
        position: absolute;
        margin-top: 200px;
        margin-left: 300px;
        z-index: -1;
    }
    #c3
    {
        position: absolute;
        margin-top: 50px;
        margin-left: -400px;
        z-index: -1;
    }

    #c4
    {
        position: absolute;
        margin-top: 600px;
        margin-left: 300px;
        z-index: -1;
    }
    #c5
    {
        position: absolute;
        margin-top: 1000px;
        margin-left: 300px;
        z-index: -1;
    }
    #c6
    {
        position: absolute;
        margin-top: 1100px;
        margin-left: -300px;
        z-index: -1;
    }
    #c7
    {
        position: absolute;
        margin-top: 1600px;
        margin-left: -200px;
        z-index: -1;
    }

    #c8
    {
        position: absolute;
        margin-top: 1800px;
        margin-left: -250px;
        z-index: -1;
    }

    #c9
    {
        position: absolute;
        margin-top: 1400px;
        margin-left: 250px;
        z-index: -1;
    }

}